<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="/styles.css">
			<title>Details | Sinatra Blog</title>
		</head>
			<body>
				<h1> details </h1>
				<p> <%= @posts_index.title %> </p>
				<p> <%= @posts_index.date %> </p>
				<p> <%= @posts_index.text %> </p>
			</body>
	</html>

