<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="/styles.css">
			<title>New Post | Sinatra Blog</title>
		</head>
			<body>
				<h1> New Post </h1>
					<form method="post" action="/submit_post">
  						<div class="labels"
  							<label>Title:</label>
  								<input name="title" class="forms"> 
									<br>
  							<label>Text:</label>
  								<textarea name="text" class="forms"></textarea>
  						</div>
  							<button type="submit">Post</button>
					</form>
			</body>
	</html>