<a href="/">Home</a> <a href="/company">Company</a> <a href="/about">About</a> <a href="/pizza">Pizza</a>

<h1>Company</h1>

<p> We are a high tech modern futuristic company</p>

<h2>Current positions</h2>

<p>Rails Developer</p>
