<a href="/">Home</a> <a href="/company">Company</a> <a href="/about">About</a> <a href="/pizza">Pizza</a>

<h1>Home</h1>

<p>Welcome to a pretty decent Sinatra Web App.</p>

<h2>Test</h2>

<p>test ...</p>

<img src="http://www.planwallpaper.com/static/images/butterfly-wallpaper.jpeg" height="400" width="600">