<!DOCTYPE html>
	<html>
		<head>
		<link rel="stylesheet" type="text/css" href="/styles.css">
			<title>Home | Movie Lovers</title>
		</head>
			<body>
				<h1>Movie Trivia Game</h1>
					<h2>Search by movie term:</h2>
						<form method="post" action="/submit_post">
							<input type="text" name="search">
								<button type="submit">Submit</button>
						</form>
			</body>
	</html>