<h2> List of products </h2>

<ul>
	<% @products_array.each do |product| %>
	<li>
		<%= product.name %>
		- $<%= product.price %>
	</li>
	<% end %>
</ul>

<%= link_to "Submit new product", new_product_path %>