body {
	background-color: #ffcc66
}

h1 {
	font-family: sans-serif;
}

h2 {
	font-family: sans-serif;
}

h3 {
	font-family: sans-serif;
}

p {
	font-family: sans-serif;
}

a {
	font-family: sans-serif;
}

ol {
	font-family: sans-serif;
}

label {
	font-family: sans-serif;
}