<h1>Results</h1>

<h3>Thank you for submitting those <%= @word_count %> words. Below is what you submitted: </h3> 
<br>

<%= @text %>

<h4>At an average rate of 275 words per minute, it would take <%=@word_count/4.583.round%> seconds to read your text. Your 10 most used words were:</h4>


<% @sorted.each do |item| %>
<%= "#{item[0]}" + " = " + "#{item[1]}" + " times." %><br>
<% end %>
