<!DOCTYPE html>
<html>
  <head>
    <title>Mississippi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
  	<h1> Mississippi </h1>
  </header>

    <%= yield %>

  <footer>
  	<p> Made with &hearts; at Ironhack </p>
  </footer>

  </body>
</html>
