<h2>
	Keep track of your comics.
</h2>

<% if user_signed_in? %> 

<h3>
	See our users' profiles 
</h3>

<ul>
	<% @users.each do |u| %>
	<li>
		<%= link_to u.name, user_path(u) %>
	</li>
	<% end %>
</ul>

<% else %>

<%= link_to "Login", new_user_session_path %>
<%= link_to "Sign up", new_user_registration_path %>

<% end %>