<ul>
	<% @projects.each do |project| %>
		<li>
		<% if project.name.present? %>  -
			<%= project.name %>  -
		<% end %>
		
		<% if project.description.present? %> 
			<%= project.description %> 
		<% end %>
		
		</li>
	<% end %>
</ul>

<%= link_to 'New Project', new_project_path %>