<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>

<h1>Home</h1>

<h2>Track time</h2>

<%= link_to 'Projects', projects_path %>

<%= link_to 'New Project', new_path %>

</body>
</html>